.gotero-container {
  padding: 20px;
  max-width: 1400px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.gotero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selector-gotero {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.selector-gotero button {
  padding: 10px 20px;
  margin: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.selector-gotero button.active {
  background-color: #00b31e;
}

.selector-gotero button:hover {
  font-size: 1.2rem;
  background-color: #0056b3;
}

.form-gotero {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
  max-width: 600px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-group label {
  font-size: 1rem;
  margin-bottom: 5px;
}

.form-group input, .form-group select {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-calculate {
  padding: 15px 30px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.btn-calculate:hover {
  background-color: #0056b3;
}

.drip-animacion-background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 400px;
  background: url('./goterum.png') no-repeat center center;
  background-size: contain;
  position: relative;
}

.drip-container {
  position: relative;
  width: 100px;
  height: 300px;
  margin: 20px auto;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.drip-body {
  position: relative;
  top: 2px; /* Corregido: Añadido 'px' para posición */
  left: 50%;
  width: 30px;
  height: 30px;
  transform: translateX(-50%);
}

@keyframes drip {
  0% {
    top: 1px; /* Posición inicial */
    opacity: 1; /* Opacidad inicial */
  }
  100% {
    top: 300px; /* Posición final */
    opacity: 1; /* Opacidad final */
  }
}

/* Estilo para el elemento de la gota */
.drop {
  position: absolute;
  width: 20px; /* Ajusta el tamaño según sea necesario */
  height: 25px; /* Ajusta el tamaño según sea necesario */
  background-color: rgba(51, 190, 255, 0.8); /* Color de la gota con opacidad */
  border-radius: 50%; /* Forma circular */
  top: 0; /* Posición inicial (puede ajustarse según diseño) */
  left: 50%; /* Centro horizontalmente */
  transform: translateX(-50%); /* Centrado horizontal */
}

.resultado-animacion-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

.resultado-container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff7f7a4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

.tipo-gotero {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.resultado-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.resultado-label {
  font-weight: bold;
  margin-right: 5px;
}

.resultado-value {
  color: #000000;
}

@media (min-width: 768px) {
  .gotero-content {
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.9rem;
    padding: 15px;
  }
}

/* Estilos para h1 y p */
.gotero-container h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000; /* Color azul */
}

.gotero-container p {
  font-size: 1rem;
  line-height: 1.5;
  color: #333; /* Color gris oscuro */
  margin-bottom: 10px;
}
