.navbar-search {
    display: flex;
    align-items: center;
    background-color: rgba(56, 55, 55, 0.15); /* Color de fondo del buscador */
    border-radius: 4px; /* Borde redondeado */
    padding: 4px 8px; /* Espaciado interno */
    margin: 4px; /* Espacio entre el buscador y los otros elementos */
  }
  
  .navbar-search-input {
    flex: 1; /* El input del buscador ocupa todo el espacio disponible */
    border: none; /* Sin borde */
    background: none; /* Fondo transparente */
    color: #2b29a5; /* Color del texto */
    font-size: 1rem; /* Tamaño de fuente */
    outline: none; /* Sin borde al enfocar */
  }
  
  /* Estilos para la barra de búsqueda */
  .Search {
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    width: 250px; /* Ajustar el tamaño de la barra de búsqueda */
  }
  .SearchIconWrapper {
    padding: 0 12px;
    color: black;
    height: 100%;
    position: absolute;
    right: 0; /* Ajustar la posición a la derecha */
    display: flex;
    align-items: center;
    justify-content: center;
  }


  
  /* Estilos para los iconos animados */
.calculator {
    width: 1px; /* Revisar este valor */
    height: 100px;
    background-color: #ffffff; /* Color personalizado */
    position: fixed; /* Ajustar según sea necesario */
    display: inline-block;
  }
  
  .screen {
    width: 90%;
    height: 20%;
    background-color: #f1f1f1;
    margin: 5px auto;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.5rem;
    color: #ffffff; /* Color del texto */
    font-weight: bold;
  }
  
  .button-row {
    display: flex;
    justify-content: space-around;
    margin-top: 3px;
  }
  
  .button {
    width: 10%;
    height: 10%;
    background-color: #ffffff;
    border-radius: 30%;
    transition: background-color 0.4s;
  }
  
  .button:hover {
    background-color: #ffffff; /* Color al pasar el cursor */
  }
  
  .drip {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
  }
  
  .bag {
    width: 20px;
    height: 30px;
    background-color: rgb(82, 160, 224);
    border-radius: 5px;
    position: relative;
  }
  
  .bag::before {
    content: "";
    width: 4px;
    height: 4px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: -2px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .tube {
    width: 5px;
    height: 20px;
    background-color: #ffffff;
    margin-top: 2px;
    position: relative;
  }
  
  .tube::before {
    content: "";
    width: 4px;
    height: 4px;
    background-color: #00f;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    animation: drip 2s infinite;
  }
  
  @keyframes drip {
    0% {
      top: 1px;
      opacity: 3;
    }
    100% {
      top: 30px;
      opacity: 0;
    }
  }
  
  @media (max-width: 767px) {
    .Search {
      width: 50%; /* Ocupar todo el ancho disponible */
      margin: 0; /* Eliminar el margen lateral */
      padding: 8px; /* Ajustar el espacio interno */
    }
  
    .SearchIconWrapper {
      padding: 0 8px; /* Reducir el espacio del ícono */
    }
  
    .navbar-icons {
      margin-right: 8px; /* Ajustar el margen entre los íconos */
    }
  
    .drip-text {
      display: none; /* Ocultar el texto asociado al icono de goteo en pantallas pequeñas */
    }
  }
  