/*background para login*/
body.login-bg {
  background: url('./assets/imagenes/Login.jpg') no-repeat center center;
  background-size: 100% 100%;
  background-attachment: fixed;
}

body.registro-bg {
  background: url('./assets/imagenes/Registro.jpg') no-repeat center center;
  background-size: 100% 100%;
  background-attachment: fixed;
}

body.pisos-bg {
  background: url('./assets/imagenes/Pisos.jpg') no-repeat center center;
  background-size: 100% 100%;
  background-attachment: fixed;
}

body.habitaciones-bg {
  background: url('./assets/imagenes/Habitacion.jpg') no-repeat center center;
  background-size: 100% 100%;
  background-attachment: fixed;
}

body.gotero-bg {
  background: url('./assets/imagenes/Gotero.jpg') no-repeat center center;
  background-size: 100% 100%;
  background-attachment: fixed;
}

body.parametros-bg {
  background: url('./assets/imagenes/Parametros.jpg') no-repeat center center;
  background-size: 100% 100%;
  background-attachment: fixed;
}

body.medicamentos-bg {
  background: url('./assets/imagenes/Medicamentos.jpg') no-repeat center center;
  background-size: 100% 100%;
  background-attachment: fixed;
}


/* Reset de estilos básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
}

.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 767px) {
  .container {
    max-width: 100%;
    padding: 10px;
  }

  .header h1, .details p, .paciente p {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 1200px;
    padding: 20px;
  }

  .header h1, .details p, .paciente p {
    font-size: 1.2rem;
  }

  .table-container {
    display: flex;
    justify-content: space-between;
  }

  .details, .paciente {
    margin: 0 10px;
  }
}

/* Estilos para el NavBar */
.navbar {
  background-color: #1976d2; /* Color de fondo del NavBar */
  height: 56px; /* Ajustar la altura del NavBar */
  display: flex;
  align-items: center; /* Centrar verticalmente el contenido */
  padding: 0 16px; /* Añadir padding para el espaciado */
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-title {
  margin-left: 10px; /* Espacio entre el logo y el título */
  font-size: 1.5rem; /* Tamaño del título */
  color: #ffffff; /* Color del título */
}

.navbar-icons {
  display: flex;
  align-items: center;
}

.navbar-icon {
  margin-left: 30px; /* Espacio entre los íconos */
  cursor: pointer; /* Cursor al pasar sobre los íconos */
  color: #4652bb; /* Color de los íconos */
}

/* Estilos adicionales */
.drip-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #fffdfd;
  margin-right: 10px; /* Espacio a la derecha del icono de goteo */
}

.drip-text {
  margin-left: 5px; /* Espacio entre el icono y el texto */
  font-size: 1rem;
}

