/*background para login*/
body.login-bg {
  background: url('./assets/imagenes/Login.jpg') no-repeat center center;
  background-size: 100% 100%;
  background-attachment: fixed;
}

body.registro-bg {
  background: url('./assets/imagenes/Registro.jpg') no-repeat center center;
  background-size: 100% 100%;
  background-attachment: fixed;
}

body.pisos-bg {
  background: url('./assets/imagenes/Pisos.jpg') no-repeat center center;
  background-size: 100% 100%;
  background-attachment: fixed;
}

body.habitaciones-bg {
  background: url('./assets/imagenes/Habitacion.jpg') no-repeat center center;
  background-size: 100% 100%;
  background-attachment: fixed;
}


/* Reset de estilos básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos globales para el cuerpo de la aplicación */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
}

/* Estilos para los enlaces */
a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}

/* Estilos para los encabezados */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
}

/* Estilos para los botones */
button {
  padding: 8px 12px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  margin-bottom: 5px;
}

.details {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.details p {
  margin: 5px 0;
}

.paciente {
  margin-top: 20px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.paciente p {
  margin: 5px 0;
}
.medication-card {
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  margin: 10px auto;
  padding: 10px;
  width: 18rem;
}

.card-header {
  background-color: #f0f0f0;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  font-weight: bold;
}

.card-body {
  padding: 10px;
}

.card-title {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.card-text {
  margin-bottom: 5px;
}

.formControl {
  margin-bottom: 20px;
  min-width: 200px;
  float: right;
}

.select {
  background-color: white;
  border-radius: 4px;
}

.select .MuiSelect-select {
  padding: 10px 14px;
}
